---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Seitel - Contratos">

<div class="h-40 bg-primary"></div>

<section class="py-20 px-52 max-lg:px-8 text-center">
    <h2 class="text-thirdy font-bold text-3xl">Contratos</h2>
    <ul class="mt-4 flex flex-col gap-2">
        <li><a class="hover:text-secondary duration-300" target="_blank" href="/contratos/SCM_SCI.pdf">Contrato SCM SCI</a></li>
        <li><a class="hover:text-secondary duration-300" target="_blank" href="/contratos/CP SVA_000.pdf">Contrato de SVA</a></li>
        <li><a class="hover:text-secondary duration-300" target="_blank" href="/contratos/SEITEL CAM.pdf">Contrato Seitel CAM</a></li>
    </ul>
</section>

</Layout>


