<header class="z-50 absolute top-0 left-0 w-full m-0">
    <!-- HEADER-TOP -->
    <div class=" h-10 bg-gradient-to-r from-primary to-secondary z-50 px-[2%] flex items-center justify-between">
        <div class="flex items-center gap-6">
            <a href="tel:08006531254" rel="noopener noreferrer">
                <div class="flex items-center gap-3">
                    <img class="h-4" src="/images/telephone.svg" alt="">
                    <span class="text-white text-xs">0800 653 1254</span>
                </div>
            </a>
            
            <div class="flex items-center gap-3">
                <a href="https://mk.seitel.com.br/sac/login/?sys=SAC" class="flex flex-row gap-3" target="_blank" rel="noopener noreferrer">
                    <i class="fi fi-rr-circle-user text-white flex justify-center items-center"></i>
                    <span class="text-white text-xs">Área do Cliente</span>
                </a>
            </div>

            <a href="https://webmail.taquari.com/" target="_blank" rel="noopener noreferrer">
                <div class="flex items-center gap-3">
                    <i class="fi fi-rr-envelope text-white flex justify-center items-center"></i>
                    <span class="text-white text-xs"> Webmail</span>
                </div>
            </a>
        </div>
        <div class="flex items-center gap-6 max-lg:hidden">
            <div class="flex items-center gap-3">
                <a href="https://www.facebook.com/seiteltelecom" target="_blank" rel="noopener noreferrer"><img src="/images/Facebook.svg" alt=""></a>
            </div>
            <div class="flex items-center gap-3">
                <a href="https://www.instagram.com/seiteltelecom/" target="_blank" rel="noopener noreferrer">
                    <img src="/images/Instagram.svg" alt="">
                </a>
            </div>
            <div class="flex items-center gap-3">
                <a href="https://www.youtube.com/@seiteltelecomunicacoes6483/videos" target="_blank" rel="noopener noreferrer">
                    <img src="/images/youtube.svg" alt="">
                </a>
            </div>
        </div>
    </div>
    <!-- FIM DO HEADER-TOP -->
    <div class="px-[6%] py-6 justify-between flex flex-row items-center bg-gradient-to-b from-black/50 to-transparent absolute w-full top-10 z-50">
        <div>
            <a href="/"><img class="h-16 -ml-4 hover:-translate-y-1 transition-[0.6s]" src="/images/Logo.svg" alt=""></a>
        </div>
        <div class="flex justify-center items-center -mt-4">
            <menu>
                <nav>
                    <img onclick="showMenu()" class="max-lg:h-8 md:hidden" src="/images/menu-aberto.svg" alt="">
                    <ul id="collapseMenu" class="hidden md:flex md:flex-row gap-8 max-lg:absolute max-lg:top-20 max-lg:left-0 max-lg:w-full max-lg:bg-[#190128] max-lg:px-8 max-lg:pb-8">
                        <a href="/"><li>HOME</li></a>
                        <li class="relative group max-lg:py-2 px-3 max-lg:rounded">
                            <a href="/#" class="">PLANOS DE INTERNET</a>
                            <ul class="absolute left-0 animate-fade top-full hidden group-hover:block w-full bg-white text-black space-y-2 px-2 rounded-md shadow-lg">
                                <li><a href="/planos-de-internet" class="block text-center px-4 text-primary hover:bg-gray-200">Residencial</a></li>
                                <li><a href="/planos-empresariais" class="block px-4 mb-4 text-center text-primary hover:bg-gray-200">Empresarial</a></li>
                                <li><a href="/cameras" class="block px-4 mb-4 text-center text-primary hover:bg-gray-200">Câmeras</a></li>
                                
                            </ul>
                        </li>
                        <a href="/sobre-nos"><li>SOBRE NÓS</li></a>
                        
                        <a href="/indique-um-amigo"><li>EU CONHEÇO, EU INDICO</li></a>
                        <a href="/fale-conosco"><li>FALE CONOSCO</li></a>
                    </ul>
                </nav>
            </menu>
        </div>
        <div class="flex flex-col items-center justify-center">
            <button class="bg-gradient-to-b hover:-translate-y-1 transition-all duration-300 max-lg:hidden from-primary flex justify-center items-center to-secondary w-52 rounded-3xl font-bold text-white py-2" onclick="window.location.href='https://api.whatsapp.com/send/?phone=555136531254&text=Ol%C3%A1%21+Vim+do+site&type=phone_number&app_absent=0';">
                ASSINE JÁ
            </button>
            <a href="https://wa.me/555136531254?text=Ol%C3%A1%20gostaria%20de%20saber%20mais%20sobre%20os%20planos%20e%20benef%C3%ADcios%20da%20Seitel!" target="_blank"><img class="fixed h-16 left-[80%] md:left-[95%] z-50 top-[85%] animate-bounce cursor-pointer" src="/images/whatsBtn.png" alt=""></a>
        </div>
    </div>
</header>

<script is:inline>  
    let menu = document.getElementById("collapseMenu");

    function showMenu() {
        menu.classList.toggle("hidden");
    }
</script>