<section class="px-[10%] mt-20">
    <div class="flex md:flex-row max-lg:flex-col justify-center items-center gap-10">
        <div class='md:w-[30%] max-lg:flex max-lg:justify-center max-lg:items-center max-lg:flex-col'>
            <h2 class="text-primary max-lg:text-center text-lg text-start">FAÇA PARTE</h2>
            <h3 class="font-bold text-5xl mt-4 max-lg:text-center text-black">MUITO MAIS QUE INTERNET</h3>
            <a href="https://wa.me/555136531254?text=Ol%C3%A1%20gostaria%20de%20saber%20mais%20sobre%20os%20planos%20e%20benef%C3%ADcios%20da%20Seitel!" target="_blank" rel="noopener noreferrer"><button class="bg-transparent border-2 text-center hover:bg-primary transition-colors hover:text-white duration-300 border-primary w-52 mt-8 py-2 rounded-2xl text-black font-bold">ASSINE AGORA</button></a>
        </div>
        <div class="md:w-[70%]">
            <div class="bg-[#faf9fe] flex flex-col justify-center py-20 items-center">
                <span class="text-center font-bold text-xl text-black/60">Conectando pessoas, internet e tecnologia</span>
                <div class="flex flex-row max-lg:flex-col gap-20 mt-4">
                    <div class="flex flex-col mt-6">
                        <img class="h-24" src="/images/Wifi-blue.svg" alt="">
                        <span class="mt-4 font-bold text-lg font-Poppins text-text">Wi-fi Premium</span>
                    </div>
                    <div class="flex flex-col mt-6">
                        <img class="h-24" src="/images/Instalacao-blue.svg" alt="">
                        <span class="mt-4 font-bold text-lg font-Poppins text-text">Instalação Grátis</span>
                    </div>
                    <div class="flex flex-col mt-6">
                        <img class="h-24" src="/images/Atendimento-blue.svg" alt="">
                        <span class="mt-4 font-bold text-lg font-Poppins text-text">Suporte especializado</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>